# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# circom-rsa-verify
circom-rsa-verify/bin
circom-rsa-verify/contracts
circom-rsa-verify/inputs
circom-rsa-verify/proofs
circom-rsa-verify/publicSignals
circom-rsa-verify/zkeys
circom-rsa-verify/witness
circom-rsa-verify/circomlib
circom-rsa-verify/circom-bigint

